[submodule "deepcraf_86c1fb1e"]
	path = deepcraf_86c1fb1e
	url = C:\\project\\pr_request\\work_dir\\work_6673e1c1-e22b-4f05-864c-1533b194d231\\deepcraft-model-zoo-for-psoc-edge\\deepcraf_86c1fb1e
	branch = main
